- content_for :title, event.title

%div
  .subheader
    .container
      %h2= event.title
  .container.main-content
    .row
      .col-md-8.col-md-offset-2
        .events
          .event
            = partial :event, locals: { event: event }
